name: Tests

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        terragrunt_version: [0.35.8, latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup terragrunt
        uses: ./
        with:
          terragrunt_version: ${{ matrix.terragrunt_version }}

      - name: Capture terragrunt version installed
        run: |
          terragrunt -version
